.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.back-btn {
    position: absolute;
    left: 20px;
}

.articoli-container {
    background-color: #f5f5f5; /* grigino chiaro */
    border-radius: 12px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto 30px auto;
}



.cartella-title {
    text-align: center;
}

.articoli-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.articolo-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;      /* importante: taglia ciò che fuoriesce */
    width: 300px;          /* o la misura desiderata */
    max-height: 200px;     /* limita l'altezza */
    flex: 1 1 250px; /* cresce fino a occupare lo spazio disponibile */
}

.articolo-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.articolo-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.articolo-preview {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.4;
}



.filtro-autore {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filtro-autore select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
