.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.back-btn {
    position: absolute;
    left: 20px;
}


.autore {
    margin: 5px 0 0 0; /* piccolo margine sopra per separare */
    color: #555;
    font-weight: normal;
}


.articolo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}



.cartella-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

/* Container dell'articolo */
.articolo-container {
    background-color: #f7f7f7; /* grigino chiaro */
    max-width: 800px;          /* adatta alla tua pagina */
    max-height: 600px;         /* limita l'altezza */
    overflow: auto;             /* scroll verticale se necessario */
    border-radius: 12px;
    padding: 25px;
    max-width: 800px;
    word-break: break-word;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



.articolo-container p,
.articolo-container h1,
.articolo-container h2,
.articolo-container h3,
.articolo-container li {
    margin: 0 0 1rem 0;
    word-break: break-word;
}

/* Contenuto dell'articolo */
.articolo-content {
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
}

.articolo-content p {
    margin-bottom: 1rem;
}

.articolo-content img {
    max-width: 100%;
    border-radius: 8px;
    margin: 1rem 0;
}

