/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}



.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #d9d9d9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.overlay-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    text-align: center;
}

/* Form group */
.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: left;
}

/* Label */
.form-group label {
    font-weight: bold;
    margin-bottom: 6px;
}

/* Input */
.form-group input {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: all 0.2s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 4px rgba(40,167,69,0.4);
}


.button-row {
    display: flex;
    justify-content: center; /* centra i bottoni */
    gap: 20px; /* distanza tra i bottoni */
    margin-top: 20px;
}