.button-3d {
    background-color: #28a745; /* verde */
    border: 8px solid #28a745; /* bordo leggermente più scuro */
    border-radius: 50%; /* completamente rotondo */
    width: 80px;  /* dimensione del bottone */
    height: 80px; /* dimensione del bottone */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 6px #1e7e34; /* effetto 3D */
    transition: all 0.2s ease;
    padding: 0;
}

/* Nodo bloccato */
.button-3d.locked {
    background-color: #ccc; /* grigio */
    cursor: not-allowed;
    opacity: 0.6;
}

/* Nodo completato */
.button-3d.completed {
    border: 3px solid green;
    opacity: 1;
}

.button-3d:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px #1e7e34;
}

.button-3d:active {
    transform: translateY(3px);
    box-shadow: 0 2px #1e7e34;
}

.button-3d img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1); /* forza il bianco */
}

.button-3d-gold {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFD700; /* oro */
    border: 15px solid #FFD700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 0px 0px #b8860b; /* ombra più scura per effetto 3D */
    transition: all 0.3s ease-out;
}

.button-3d-gold:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 0px 0px #daa520;
}

.button-3d-gold:active {
    transform: translateY(4px);
    box-shadow: 0px 4px 0px 0px #b8860b;
}
