.infinite-menu-wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: white; /* sfondo visibile dietro il canvas */
    position: relative;
    overflow: hidden;
    display:flex;
}


